RaisedButton, RaisedButton:hover, RaisedButton:focus, RaisedButton:hover:focus {
  background-color: #E0E0E0;
  color: black;
  padding: 3px 16px;
  font-family: "roboto";
  font-size: 14;
  border: 1px;
  border-radius: 2px;
}

RaisedButton:pressed, RaisedButton:pressed:focus {
  background-color: #999999;
}

RaisedButton:disabled {
  color: #cccccc;
  background-color: #cccccc;
  font-family: "roboto";
  font-size: 14;
  border: 1px;
  border-radius: 2px;
}
